@import url('https://fonts.googleapis.com/css2?family=Poppins');

/*BUTTON*/
.button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px){
  .button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.button-icon {
  margin: 10px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.button-icon.show {
  opacity: 1;
}

.button-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(3rem, 4vw, 6rem);
  height: clamp(3rem, 4vw, 6rem);
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.button-toggle:hover{
  background-color: #ff4133; 
  transform: 4;
}

.button-icon img {
  width: 50px;
  height: 50px;
  transition: 0.3s ease;
}

.button-icon img:hover{
  width: 55px;
  height: 55px;
  transform: 4;
}


.button-toggle img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}

.button-icon.giro img{
  width: 45px;
  height: 45px;
  transform: rotate(-90deg);
  transition: 0.3s ease;
}

.button-icon.giro img:hover{
  width: 50px;
  height: 50px;
  transform: rotate(-90deg);
  transition: 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{ 
    font-family: 'Poppins';
    display: flex;
    background-color: #5a9ca2;
    background-image: url(/assets/backgrounds/quizbackground_english.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 30px;
    padding: 3%;
    padding-top: 7em;
}

.title h1{
    color: white;
    font-size: clamp(1.5rem, 7vw, 8vh);
}

.topicos{
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    align-items: center;
}

.topico{
    border-radius: 25px;
    color: black;
    transition: .4s ease-in-out;
    width: clamp(3rem, 13vw, 15vh);
    display: flex;
    justify-content: center;
}

.topico:hover{
    width: clamp(4rem, 20vw, 22vh);
    border-radius: 21px;
    transform: 4;
    color: antiquewhite;
}

.topico h4{
    text-align: center ;
    font-size: clamp(1rem, 4vw, 5vh);
    margin-left: -40px;
    margin-right: -40px;
}

/*STYLE DOS BOTOES*/
.topico.um{
    background: linear-gradient(90deg, #D9534F, #bd2721);
}

.topico.dois{
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
}

.topico.tres{
    background: linear-gradient(90deg, #ca4b6b, #a01f45);
}

.topico.quatro{
    background: linear-gradient(90deg, #5CB85C, #2c992c);
}

.topico.cinco{
    background: linear-gradient(90deg, #428BCA, #1b5283);
}
